#registration-page {
    background-image: url(/images/netflix-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    opacity: 0.2;
}

#registration-page-content {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#registration-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}